* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  background-color: #000000;
  margin-left: 0px;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10;
}
.icon__menu{
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
}

.icon__menu i{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}

.menu__side{
  width: 80px;
  height: 100%;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 20px solid #000000;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  margin-left: -80px;
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
  display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.name__page{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.name__page i{
  width: 20px;
  margin-right: 20px;
}

.options__menu{
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}

.options__menu a{
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

.options__menu a:hover{
  color: white;
}

.options__menu .option{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4{
  font-weight: 300;
  cursor: pointer;
}

a.selected{
  color: #fff;
}

.selected:before{
  content: '';
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move {
  margin-left: 330px;
}

.menu__side_move {
  width: 330px;
}

header.abajo{
  background: #fff;
  padding: 15px 20px;

}
header .logo{
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  list-style: none;
}

header ul li a{
  position: relative;
  font-family: helvetica;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}
.bars__menu{
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(-50%, -50%) scale(6);
  cursor: pointer;
  display: none;
}

.bars__menu span {
  display: block;
  width: 10px;
  height: 1px;
  background: #ffffff;
  margin-top: 2px;
  transform-origin: 0px 100%;
  transition: all 300ms;

}

.activeline1__bars-menu{
  transform: rotate(45deg) translate(-1px, -2px); 
  transform: scaleX(1px);
}

.activeline2__bars-menu{
  opacity: 0;
  margin-left: -30px; 
}

.activeline3__bars-menu{
  transform: rotate(-45deg) translate(-0px, 1px);
}
.zona1{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/omega.jpg");
  background-size: cover;
  background-position: center center;
}
header.abajo .logo,
header.abajo ul li a{
  color: #000;
}
header.abajo .line1__bars-menu{
  background-color: #000;
}
header.abajo .line2__bars-menu{
  background-color: #000;
}
header.abajo .line3__bars-menu{
  background-color: #000;
}
main {
  display: grid;
  font-family: "Gudea", sans-serif;
}

.carrousel {
  width: 100%;
}

.conteCarrousel {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.itemCarrousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.itemCarrouselTarjeta {
  width: 100%;
  height: 100%;
}

.itemCarrouselArrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}

#itemCarrousel-1 {
  background-color: rgb(226, 50, 50);
}

#itemCarrousel-2 {
  background-color: rgb(50, 200, 226);
}

#itemCarrousel-3 {
  background-color: rgb(200, 226, 50);
}

.conteCarrouselController {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.conteCarrouselController > a {
  text-decoration: none;
  font-size: 2em;
  color: grey;
}

.itemCarrouselArrows > a > i {
  color: white;
}

footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
@media screen and (max-width: 760px){
  .bars__menu{
display: inline;

  }

  header ul{
    display: none;
    }
}