* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration:none
}
body {
  background-color: #000000;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 20px 10px;
  z-index: 10;
}
.icon__menu{
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
  text-decoration: none
}
.icon__menu i{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}
.menu__side{
  font-style:normal;
  width: 0px;
  height: 100%;
  background: #00000062;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
  display: none;
}
/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: block;
}
.name__page{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.name__page i{
  width: 20px;
  margin-right: 20px;
}
.options__menu{
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}
.options__menu a{
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}
.options__menu a:hover{
  color: white;
}
.options__menu .option{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}
.options__menu .option i{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.options__menu .option h4{
  font-weight: 300;
  cursor: pointer;
}
a.selected{
  color: #fff;
}
.selected:before{
  content: '';
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}
/*Clases para usar en JavaScript*/
.body_move {
  margin-left:  0px;
}
.menu__side_move {
  width: 200px;
}
header.abajo{
  background: #fff;
  padding: 15px 20px;
}
header .logo{
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  text-decoration: none;
}
/* Nav con hamb */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  list-style: none;
}
header ul li a{
  position: relative;
  font-family: helvetica;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}
.bars__menu{
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(-50%, -50%) scale(6);
  cursor: pointer;
  display: none;
}
.bars__menu span {
  display: block;
  width: 10px;
  height: 1px;
  background: #ffffff;
  margin-top: 2px;
  transform-origin: 0px 100%;
  transition: all 300ms;

}
.activeline1__bars-menu{
  transform: rotate(45deg) translate(1px, -2px); 
  transform: scaleX(1px);
}
.activeline2__bars-menu{
  opacity: 0;
  margin-left: -30px; 
}
.activeline3__bars-menu{
  transform: rotate(-45deg) translate(1.6px, 2.1px);
}
.zona1{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://media.revistagq.com/photos/5f1039e496c6999a6368606c/16:9/w_2560%2Cc_limit/OMEGA_131.63.41.21.03.001_wrist.jpg")!important;
  background-size: cover;
  background-position: center center;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
  display: block;
  justify-content: center;
}
.zona1::-webkit-scrollbar {
  display: none;
}
header.abajo .logo,
header.abajo ul li a{
  color: #000;
}
header.abajo .line1__bars-menu{
  background-color: #000;
}
header.abajo .line2__bars-menu{
  background-color: #000;
}
header.abajo .line3__bars-menu{
  background-color: #000;
}
/* logo 1 */
svg,img {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  align-items: center;
}
.constellation {
padding-top: 15vh;
padding-bottom: 5vh;
display: flex;
justify-content: center;
}
/*imagen*/
.imagenc {
display: flex;
justify-content: center;
align-items: center;
background: radial-gradient(rgba(255, 255, 255, 0.882),rgba(255,255,255,0));
border-radius: 15px;
padding: 20px;
max-height: 75%;
max-width: 75%;
overflow: hidden;
margin: 0 auto;
resize: both;
}
.imagen {
  object-fit: scale-down;
  overflow: hidden;
}
.descrip {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  padding: 1vh;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgb(140, 0, 0);
  filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 0.4));
}
p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  color: rgb(16, 16, 16);
}
/* Carrousel */
.carousel {
  padding: 0px;
  position: relative;
  height: 400px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background: radial-gradient(rgba(255, 255, 255, 0.882),rgba(255,255,255,0));
  border-radius: 15px;
}


.carousel__slide {
 width: 800px;
}

.carousel__image {
 height: 100%;
 width: auto;
 object-fit: scale-down;
 display: flex;
 justify-content: center;
 margin: auto;
}

.school-talks-img-6 {
  object-position: 50% 5%;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 700ms ease-in;
}

.carousel__slide {
  position: absolute; /* stack images on top of each other */
  top: 0;
  bottom: 0;
  height: 400px;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button img:hover, .carousel__nav button:hover {
  transform: scale(1.2);
  transition: all ease-in 0.2s;
}


.carousel__button--left {
  left: -40px; /* position away from image */
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 30px;
}

.carousel__button:focus, .carousel__indicator:focus {
outline: none;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0,0,0,.75);
}



/* Footer */
  footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;  
}
.colum2 h1{
    font-size: 22px;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}
.colum3{
    max-width: 400px;
}
.colum3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
.container-footer{
    width: 100%;  
    background: #101010;
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}
.copyright{
    color: #C7C7C7;
}
.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: #C7C7C7;
}
@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
@media screen and (max-width: 760px){
  .bars__menu{
display: inline;

  }

  header ul{
    display: none;
    }
}
/* resize images for different screen sizes */
@media all and (max-width: 900px) {
  .carousel {
      height: 300px;
      max-width: 600px;
  }
  .carousel__slide {
     width: 600px;
     height: 300px;
  }    
} 
@media all and (max-width: 720px) {
  .carousel {
      height: 250px;
      max-width: 500px;
  }
  .carousel__slide {
     width: 500px;
     height: 250px;
  }    
} 
@media all and (max-width: 600px) {
  .carousel {
      height: 200px;
      max-width: 400px;
  }
  .carousel__slide {
     width: 400px;
     height: 200px;
  }
  .imagenc {
    margin:auto;
    flex-direction: column;
    overflow: auto;
  }  
} 
@media all and (max-width: 485px) {
  .carousel {
      height: 150px;
      max-width: 350px;
  }
  .carousel__slide {
     width: 350px;
     height: 150px;
  }    
} 
@media all and (max-width: 400px) {
  .carousel {
      height: 120px;
      max-width: 300px;
  }
  .carousel__slide {
     width: 300px;
     height: 120px;
  }    
} 